.body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #373737;
  font-weight: 700;
  letter-spacing: 2.4px;
}

/* start menu */

.nav {
  margin: 31.5px 0px;
  text-align: center;
}

.link,
.title {
  text-decoration: none;
  text-transform: uppercase;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin: 0px 20px;
}

.nav__item:first-child {
  margin-left: 0px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  color: #ff0000;
  font-size: 18px;
  letter-spacing: 2.7px;
}

/* the end menu */

.container {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container__text {
  width: 1145px;
}

.title {
  margin: 49px 0px 38px;
  font-size: 22px;
  letter-spacing: 3.3px;
}

.title__paragraph {
  font-weight: 400;
}

.title__paragraph:not(:first-child) {
  margin-top: 28px;
}

.button {
  background-color: #ff0000;
  padding: 18px 43px;
  margin: 66px 0px 42px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button__link {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1.8px;
}

.footer {
  width: 1070px;
  margin: 0 auto;
  padding: 40px 0px 29px;
  text-align: right;
}

/* start hidden block */
/* .footer__info {
  font-family: "Roboto", sans-serif;
  text-align: left;
  letter-spacing: 2.7px;
  font-size: 18px;
  display: none;
}

.footer__link:active {
  color: #16a085;
} */
/* the end hidden block */
